body {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-family: Lucida Console, sans-serif;

}

header {
    grid-column: 2;
    color: white;
    font-family: Lucida Console, sans-serif;
    font-size: 32px;
    text-align: left;
    background-color: #202124;
}

.sticky-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-family: Lucida Console, sans-serif;
    font-size: 32px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #19191b;
    z-index: 1000;
    grid-column: 2;
}

.content {
    grid-column: 2;
    padding-top: 400px;
}

main {
    grid-column: 2;
}

footer {
    text-align: left;
    grid-column: 2;
}

ul.horizontal-list {
    grid-column: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: right;
}

ul.horizontal-list li {
    grid-column: 2;
    display: inline;
    margin-right: 10px;
    margin-top: 0px;
}



h1 {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
}

h2 {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
}

.h2-left {
    font-family: Lucida Console, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
}
.h2-mid {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

p {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;

}

a.big {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: left;
}

a.mid {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: left;


    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 106);
}

a.small {
    grid-column: 2;
    font-family: Lucida Console, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;


    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 106);
}

img {
    width: 128px;
    height: auto;
    padding: 0px;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-large {
    width: 600px;
    height: auto;
    padding: 0px;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: left;
}

.server-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: left;
}

.vertical-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: top;
}

.two-vertical-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: start; /* Aligne les éléments au début (haut) */
    justify-items: start
}

.two-vertical-container-user {
    display: grid; /* Utilisation de CSS Grid */
    grid-template-columns: auto 1fr; /* Deux colonnes : auto pour l'image, 1fr pour le texte */
    column-gap: 20px; /* Espacement entre les colonnes */
    align-items: center; /* Aligne les éléments verticalement au centre (facultatif) */
}

.bot-box {
    width: 500px;
    height: auto;
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.server-box {
    width: 450px;
    height: auto;
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.server-box:hover {
    background-color: #444;
}

.global-server-box {
    width: 400px;
    height: auto;
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.global-user-stat-box {
    width: 500px;
    height: 100px;
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.server-box:hover {
    background-color: #444;
}

.about-box {
    width: 1000px;
    height: auto;
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.user-box {
    width: 280px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.user-box:hover {
    background-color: #444;
}

.server-userslist-box {
    width: 350px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.server-userslist-box:hover {
    background-color: #444;
}

.activity-box {
    width: 400px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    background-color: #2c2c2c;
    border: 1px solid #444;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.activity-box:hover {
    background-color: #444;
}

.rank {
    font-weight: bold;
    font-size: 16px;
    color: #ffffffd3;
}

.username {
    font-size: 14px;
    color: rgb(0, 255, 106);
}

.time {
    font-size: 14px;
    color: #ffffff;
}

.userbox-link {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur par défaut de l'élément parent */
}

.userbox-link:hover {
    color: inherit; /* Pas de changement de couleur au survol */
    text-decoration: none; /* Pas de soulignement au survol */
}

.serverbox-link {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Garde la couleur par défaut de l'élément parent */
}

.serverbox-link:hover {
    color: inherit; /* Pas de changement de couleur au survol */
    text-decoration: none; /* Pas de soulignement au survol */
}

.server-text {
    font-size: 16px;
    color: rgb(0, 255, 106);
}

.error-text-big {
    font-size: 26px;
    color: rgb(0, 255, 106);
    font-weight: bold;
}

.error-text-title {
    font-size: 32px;
    color: rgb(226, 103, 81);
    margin-top: 20px;
}

.scroll-container {
    width: 550px; /* Largeur du conteneur */
    height: 500px; /* Hauteur du conteneur, pour restreindre l'espace visible */
    overflow-y: auto; /* Active le défilement vertical */
    padding: 0px;
    border: 1px solid #cccccc00; /* Pour visualiser les bordures */
    border-radius: 5px;
    background-color: #f9f9f900;
  }

/* Personnalisation de la scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Couleur de la poignée */
    border-radius: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Couleur de l'arrière-plan de la scrollbar */
  }



  .server-user-scroll-container {
    width: 330px; /* Largeur du conteneur */
    height: 500px; /* Hauteur du conteneur, pour restreindre l'espace visible */
    overflow-y: auto; /* Active le défilement vertical */
    padding: 0px;
    border: 1px solid #cccccc00; /* Pour visualiser les bordures */
    border-radius: 5px;
    background-color: #f9f9f900;
  }

/* Personnalisation de la scrollbar */
.server-user-scroll-container::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
  }
  
.server-user-scroll-container::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Couleur de la poignée */
    border-radius: 10px;
  }
  
.server-user-scroll-container::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Couleur de l'arrière-plan de la scrollbar */
  }


  .server-profile-list-scroll-container {
    width: 500px; /* Largeur du conteneur */
    height: 500px; /* Hauteur du conteneur, pour restreindre l'espace visible */
    overflow-y: auto; /* Active le défilement vertical */
    padding: 0px;
    border: 1px solid #cccccc00; /* Pour visualiser les bordures */
    border-radius: 5px;
    background-color: #f9f9f900;
  }

/* Personnalisation de la scrollbar */
.server-profile-list-scroll-container::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
  }
  
.server-profile-list-scroll-container::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Couleur de la poignée */
    border-radius: 10px;
  }
  
.server-profile-list-scroll-container::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Couleur de l'arrière-plan de la scrollbar */
  }

  .big-left-pp {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover; /* Permet de garder la proportion de l'image sans déformation */
    display: block; /* Permet à l'image de se comporter comme un bloc */
    margin-left: 0; 
  }

.small-left-pp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Permet de garder la proportion de l'image sans déformation */
    display: block; /* Permet à l'image de se comporter comme un bloc */
    margin-left: 0; 
  } 

  .big-left-server-icon {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: cover; /* Permet de garder la proportion de l'image sans déformation */
    display: block; /* Permet à l'image de se comporter comme un bloc */
    margin-left: 0; 
  }

  .mid-left-server-icon {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    object-fit: cover; /* Permet de garder la proportion de l'image sans déformation */
    display: block; /* Permet à l'image de se comporter comme un bloc */
    margin-left: 0; 
  }

  .small-left-server-icon {
    width: 90px;
    height: 90px;
    border-radius: 5%;
    object-fit: cover; /* Permet de garder la proportion de l'image sans déformation */
    display: block; /* Permet à l'image de se comporter comme un bloc */
    margin-left: 0; 
  }