{% extends "base.html" %}

{% block content %}
<div class="big-bold-text">Documentations du bot Hourglass</div>
<div class="gray-box">
  <div class="medium-bold-text">Listes des commandes</div>

  <table class="commands-table">
    <tr>
      <th>Commande</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>!stats [user]</td>
      <td>Stats de l'utilisateur sur le serveur</td>
    </tr>
    <tr>
      <td>!allstats [user]</td>
      <td>Stats de l'utilisateur sur tous les serveurs</td>
    </tr>
    <tr>
      <td>!top</td>
      <td>Top 10 des utilisateurs en fonction du temps passé sur le serveur</td>
    </tr>
    <tr>
      <td>!alltop</td>
      <td>Top 10 des utilisateurs en fonction du temps passé sur tous les serveurs</td>
    </tr>
    <tr>
      <td>!server</td>
      <td>Stats du serveur</td>
    </tr>
  </table>
</div>
<div class="gray-box">
  <div class="medium-bold-text">Code source</div>
  <div class="small-text gray">Le projet Hourglass est entièrement open source. 
    Vous pouvez accéder à son code, proposer des améliorations ou signaler des bugs directement sur le  
    <a href="https://github.com/Bugpig03/DiscordHourglassBot" class="simplelink">dépôt GitHub</a>.
  </div>
</div>
<div class="gray-box">
  <div class="medium-bold-text">API</div>
  <div class="small-text gray">Ce bot propose une API publique, sans clé afin de récupérer des données(stats) via des endpoints. 
    Vous pouvez utiliser l'API en vous aidant de la 
    <a href="https://github.com/Bugpig03/DiscordHourglassBot/blob/main/web/API.md" class="simplelink">Documentation</a>.
  </div>
</div>
{% endblock %}