{% extends "base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

<div class="gray-box">
    <div class="medium-bold-text">Graphique des heures enregistrées par Hourglass</div>
</div>
<div class="gray-box">
    
    <canvas id="myChart" data-chart='{{ chart_data_json|safe }}' style="width: 80%; max-width: 100%; height: 400px;"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const canvas = document.getElementById('myChart');
    const chartData = JSON.parse(canvas.dataset.chart);

    const ctx = canvas.getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: chartData.labels, // dates au format YYYY-MM-DD
            datasets: [{
                label: 'Heures',
                data: chartData.hours,
                borderColor: '#461f43',
                backgroundColor: '#2B1329',
                tension: 0.2,
                fill: true
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true },
                tooltip: {
                    enabled: true,
                    callbacks: {
                        title: (items) => {
                            const date = new Date(items[0].parsed.x);
                            return date.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' });
                        }
                    }
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: { unit: 'day' },
                    ticks: {
                        source: 'data',
                        callback: (val, index, ticks) => {
                            const date = new Date(ticks[index].value);
                            return date.toLocaleDateString('fr-FR', { day: 'numeric', month: 'short' });
                        }
                    },
                    title: { display: true, text: 'Temps' }
                },
                y: {
                    title: { display: true, text: 'Heures' },
                    beginAtZero: true
                }
            }
        }
    });
});
</script>
{% endblock %}




