{% extends "base.html" %}

{% block content %}
<div class="gray-box">
    <div class="big-bold-text">Hourglass Bot</div>
    <div class="medium-bold-text gray">{{ stats.nb_users }} Utilisateurs</div>
    <div class="medium-bold-text gray">{{ stats.nb_profiles }} Profils</div>
    <div class="medium-bold-text gray">{{ stats.nb_servers }} Serveurs</div>
    <div class="medium-bold-text gray">{{ stats.nb_messages }} Messages</div>
    <div class="medium-bold-text gray">{{ stats.nb_time }}</div>
</div>
<div class="gray-box">
    <div class="big-bold-text">Base de données</div>
    <div class="small-bold-text gray">{{ stats.size_db_ko }} Ko données</div>
    <div class="small-bold-text gray">{{ stats.size_stats_ko }} Ko données journalière</div>
    <div class="small-bold-text gray">{{ stats.size_hist_ko }} Ko données d'historique</div>
    <div class="small-bold-text gray">Dernière sauvegarde le {{ stats.last_backup }}</div>
</div>
<div class="gray-box">
    <div class="big-bold-text">Hourglass c'est quoi ?</div>
    <div class="small-text gray">Hourglass est un bot Discord qui suit les stats du serveur : messages, temps en vocal, 
        membres actifs, avec une interface web et des graphiques !</div>
    <br>
    <div class="small-bold-text">Bot opérationnel depuis le 28/04/2024</div>
    <di class="center"><a class="btn-discord" href="https://discord.com/oauth2/authorize?client_id=1210665993328926750">Inviter ce bot sur votre serveur Discord</a></di>
</div>

{% endblock %}