{% extends "base.html" %}

{% block content %}
<br>
<ul class="horizontal-list">
    <li><img src="{{ stats.avatar_url or url_for('static', filename='images/base_avatar_big.png') }}" class="big-pp border-server" alt="avatar"
                    onerror="this.onerror=null; this.src='{{ fallback_avatar }}';"></li>
    <li><div class="big-bold-text gray">{{stats.servername}}</div></li>
</ul>
<br>
<div class="medium-bold-text">Statistiques</div>
<div class="gray-box stats-box">
    <div class="big-bold-text">{{ stats.rank }}/{{ stats.total_server }}</div>
    <div class="medium-bold-text gray">{{ stats.total_time }}</div>
    <div class="medium-bold-text gray">{{ stats.total_message }} messages</div>
    <div class="medium-bold-text gray">{{ (stats.total_time_last_30d.seconds / 3600) | round(1)}} h les 30 derniers jours</div>
</div>
<div class="medium-bold-text">Utilisateurs</div>
<div class="continous-container">
{% for user in stats.users %}
    <div class="gray-box dynamic link">
        <a class="link" href="{{ url_for('user_profile.profile', username=user['username']) }}">
            <ul class="horizontal-list nowrap">
                <li><img src="{{ user.avatar or url_for('static', filename='images/base_avatar_big.png') }}" class="small-pp" alt="avatar"
                    onerror="this.onerror=null; this.src='{{ fallback_avatar }}';"></li>
                <li><div class="medium-bold-text text-overflow">{{ user.username }}</div></li>
            </ul>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}