{% extends "base.html" %}

{% block content %}
<div class="medium-bold-text">Listes des utilisateurs</div>
<form method="get" action="{{ url_for('users.users') }}">
    <input type="text" name="q" placeholder="Rechercher un utilisateur..."
           value="{{ search_query }}" class="medium-bold-text search-input nomargin">
</form>
<div class="continous-container">
    {% for user in users %}
    <div class="gray-box dynamic link">
        <a class="link" href="{{ url_for('user_profile.profile', username=user['username']) }}">
            <ul class="horizontal-list nowrap">
                <li><img src="{{ user.avatar or url_for('static', filename='images/base_avatar_big.png') }}" class="small-pp" alt="avatar"></li>
                <li><div class="medium-bold-text text-overflow">{{ user.username }}</div></li>
            </ul>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}