{% extends "base.html" %}

{% block content %}
<br>
<ul class="horizontal-list">
    <li><img src="{{ stats.avatar_url or url_for('static', filename='images/base_avatar_big.png') }}" class="big-pp" alt="avatar"></li>
    <li><div class="big-bold-text gray">{{stats.username}}</div></li>
</ul>
<br>
<div class="medium-bold-text">Statistiques</div>
<div class="gray-box">
    <ul class="horizontal-list">
        <li><div class="big-bold-text">{{ stats.rank }}/{{ stats.total_user}}</div></li>
        <li><img src="{{ url_for('static', filename='images/top.png') }}" class="small-pp square" alt="avatar"></li>
        <li><div class="medium-bold-text"> </div></li>
        <li><div class="medium-bold-text gray">{{ stats.total_time }}</div></li>
        <li><div class="medium-bold-text gray">{{ stats.total_message }} messages</div></li>
        <li><div class="medium-bold-text gray">{{ (stats.total_time_last_30d / 3600) | round(1) }} h les 30 derniers jours</div></li>
    </ul>
</div>
<div class="medium-bold-text">Serveurs</div>
{% for server in stats.user_servers_stats %}
<div class="gray-box">
    <ul class="horizontal-list">
        <div>
            <li>><img src="{{ server.avatar or url_for('static', filename='images/base_avatar_big.png') }}" class="big-pp boder-server" alt="avatar"></li>
        </div>
        <div>
            <div class="medium-bold-text">{{ server.server_name }}</div>
            <div class="small-bold-text gray">{{ server.rank }}/{{ server.nb_user }}</div>
            <div class="small-bold-text gray">{{ server.time_spent }} heures</div>
            <div class="small-bold-text gray">{{ server.messages_count }} messages</div>
            <div class="small-bold-text gray">Membre depuis le {{ server.joined_at }}</div>
        </div>
    </ul>
</div>
{% endfor %}

{% endblock %}