{% extends "base.html" %}

{% block content %}
<br>
<ul class="horizontal-list">
    <li><img src="{{ stats.avatar_url or url_for('static', filename='images/base_avatar_big.png') }}" class="big-pp" alt="avatar"
        onerror="this.onerror=null; this.src='{{ fallback_avatar }}';"></li>
    <li><div class="giant-bold-text gray">{{stats.username}}</div></li>
</ul>
<div class="big-bold-text more-top-margin">Statistiques</div>

<div class="home-stats-container">
  <div class="home-stats-box">
    <div class="home-stats-icon">
        <img src="{{ url_for('static', filename='icons/rank.png') }}" alt="Icon Rank">
    </div>
    <div class="home-stats-content">
      <span class="home-stats-label">Rang</span>
      <span class="home-stats-value">{{ stats.rank }}/{{ stats.total_user }}</span>
    </div>
  </div>

  <div class="home-stats-box">
    <div class="home-stats-icon">
        <img src="{{ url_for('static', filename='icons/30day.png') }}" alt="Icon 30days">
    </div>
    <div class="home-stats-content">
      <span class="home-stats-label">Activité les 30 derniers jours</span>
      <span class="home-stats-value">{{ (stats.total_time_last_30d / 3600) | round(1) }}</span>
    </div>
  </div>

  <div class="home-stats-box">
    <div class="home-stats-icon">
        <img src="{{ url_for('static', filename='icons/join.png') }}" alt="Icon join">
    </div>
    <div class="home-stats-content">
      <span class="home-stats-label">Membre hourglass depuis</span>
      <span class="home-stats-value">{{ stats.join_date }}</span>
    </div>
  </div>
</div>

<div class="home-stats-container">
  <div class="home-stats-box">
    <div class="home-stats-icon">
        <img src="{{ url_for('static', filename='icons/hourglass.png') }}" alt="Icon Hourglass">
    </div>
    <div class="home-stats-content">
      <span class="home-stats-label">Total Temps</span>
      <span class="home-stats-value">{{ stats.total_time }}</span>
    </div>
  </div>

  <div class="home-stats-box">
    <div class="home-stats-icon">
        <img src="{{ url_for('static', filename='icons/messages.png') }}" alt="Icon messages">
    </div>
    <div class="home-stats-content">
      <span class="home-stats-label">Total Messages</span>
      <span class="home-stats-value">{{ stats.total_message }}</span>
    </div>
  </div>
</div>

<div class="big-bold-text more-top-margin">Serveurs</div>
{% for server in stats.user_servers_stats %}
<div class="gray-box link">
    <a class="link" href="{{ url_for('server_profile.server', server_id=server['server_id']) }}">
    <ul class="horizontal-list nowrap nomargin nogap">
        <div>
            <li><img src="{{ server.avatar or url_for('static', filename='images/base_avatar_big.png') }}" class="big-pp border-server leftmargin " alt="avatar"
                onerror="this.onerror=null; this.src='{{ fallback_avatar }}';"></li>
        </div>
        <div>
            <ul class="nopadding">
                <li><div class="big-bold-text nomargin">{{ server.server_name }}</div></li>
                <li><div class="medium-bold-text gray nomargin">{{ server.rank }}/{{ server.nb_user }}</div></li>
                <li><div class="medium-bold-text gray nomargin">{{ server.time_spent }} heures</div></li>
                <li><div class="medium-bold-text gray nomargin">{{ server.messages_count }} messages</div></li>
                <li><div class="medium-bold-text gray nomargin">Membre depuis le {{ server.joined_at }}</div></li>
            </ul>
        </div>
    </ul>
    </a>
</div>
{% endfor %}

{% endblock %}