body {
  /*background-color: #000000;*/
  /*background: linear-gradient(135deg, #6d81af 0%, #172554 100%);*/
  background: radial-gradient(circle at center, #0D1721 25%, #05090D 100%);
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
      max-width: 60%; /* Largeur max 60% */
      margin: 0 auto;
      padding: 0px;
      /*background-color: #000000;*/
      background-color: rgba(0, 0, 0, 0);
      border-radius: 8px;
      box-sizing: border-box;
      min-height: 100vh;
    }

.nav-logo {
  width: 50px;   /* Largeur*/
  height: 50px;  /* Hauteur*/
  image-rendering: pixelated;  /* pixel propre */
  padding : 10px
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title {
  color : white;
  font-weight: bold;
  font-size: 36px;
  padding: 0px;
  margin: 0px;
}

.nav-menu-horizontal {
  background-color: #15202e;
  list-style: none;
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 30px;
  max-width: 100%;
}

.nav-menu-item {
  flex: 1; /* chaque bouton prend la même part */
}

/*Bouton nav bar main (de la base)*/
.nav-menu-item a {
  display: block;
  background-color: #3992be;
  color: white;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  font-size: clamp(1rem, 1vw, 1.2rem);
  text-align: center;
}

.nav-menu-item a:hover,
.nav-menu-item a:focus {
  background-color: #42ade2;
  outline: none;
}

.nav-menu-item a, 
.nav-menu-item a:link, 
.nav-menu-item a:visited, 
.nav-menu-item a:hover, 
.nav-menu-item a:active {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


footer {
    /*background-color: #000000;*/
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    padding: 1rem;
}

.continous-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.gray-box {
  background-color: #15202e;
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  border-radius: 30px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.small-border-radius {
  border-radius: 15px;
}

.dynamic {
  display: flex;  
  align-items: center;
  padding: 10px 10px;
  margin: 0px;
  box-sizing: border-box;
}


.link {
    text-decoration: none;
    color: inherit;
    border-radius: 30px;
    display: block;
}

.link:hover {
    background-color: #293e5a;
    text-decoration: none;
}

.page-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  /*border-radius: 15px;*/
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 0 5px; 
}

.page-link-selected {
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  background-color: #3992be;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 0 5px; 
}

.page-link:hover {
    background-color: #3992be;
    text-decoration: none;
}

.micro-text {
  margin: 0px 0px;
  font-size: clamp(0.3rem, 0.6vw, 0.8rem);
}

.small-text {
  margin: 10px 20px;
  color: white;
  font-size: clamp(0.9rem, 0.95vw, 1rem);
}

.small-bold-text {
  color: white;
  font-size: clamp(0.9rem, 0.95vw, 1rem);
  font-weight: bold;
  margin: 10px 20px;
}

.medium-text {
  margin: 10px 20px;
  color: white;
  font-size: 24px;
  font-size: clamp(1rem, 0.75vw, 1.5rem);
}

.medium-bold-text {
  margin: 10px 20px;
  color: white;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-weight: bold;
}

.big-text {
  margin: 10px 20px;
  color: white;
  font-size: clamp(1rem, 1.5vw, 2.2rem);
}

.big-bold-text {
  margin: 10px 20px;
  color: white;
  font-size: clamp(1rem, 1.5vw, 2.2rem);
  font-weight: bold;
}

.giant-bold-text {
  margin: 10px 20px;
  color: white;
  font-size: clamp(2.2rem, 1.5vw, 5rem);
  font-weight: bold;
}

.green {
  color:#4caf50;
  background-color: #5dd260;
}

.red {
  color:#f74242;
}

.gray {
  color:#B0BAC5
}

.nomargin{
  margin:0px 0px;
}

.nogap{
  gap: 0px;
}

.nopadding{
  padding: 0px;
}

.more-top-margin{
  margin-top: 2rem;
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.only-center {
  align-items: center;
  text-align: center;
}

.error-img {
  max-width: 80%;
  height: auto;
}

.btn-discord {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #5865F2;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin: 10px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.btn-discord:hover {
  background-color: #4752c4;
}

.btn-discord-icon {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  display: block;
}

.commands-table {
  width: calc(100% - 30px);
  border-collapse: collapse;
  margin: 20px auto;
}

.commands-table th,
.commands-table td {
  border: 1px solid #333;
  padding: 8px 12px;
  text-align: left;
  color: white;
}

.commands-table th {
  background-color: #3383ac;
  font-weight: bold;
}

.commands-table tr:nth-child(even) {
  background-color: #0f1620;
}


.horizontal-list {
  list-style: none;          
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;          
  align-items: center;       
  gap: 15px;                 
}

.horizontal-list li {
  display: flex;             
  align-items: center;       
}

.horizontal-list li:last-child {
    flex: 1;
    min-width: 0;
}

.nowrap{
  flex-wrap: nowrap;
}

/* Avatar rond */
.small-pp {
  display: flex;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
}

.big-pp {
  display: flex;
  border-radius: 70px;
  width: 120px;
  height: 120px;
  margin-left: 10px;
  image-rendering: pixelated;
}

.square{
  border-radius: 0px;
}

.border-server{
  border-radius: 15px;
  margin-left: 5px;
}

.rank {
  display: inline-block;
  width: 30px;       
  text-align: center;
}

.username-fixed {
  display: inline-block;
  width: clamp(130px, 20vw, 250px); /* min = 120px, adaptatif = 20% écran, max = 200px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hours-fixed {
  display: inline-block;
  width: clamp(80px, 20vw, 120px); /* min = 120px, adaptatif = 20% écran, max = 200px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages-fixed {
  display: inline-block;
  width: clamp(120px, 20vw, 200px); /* min = 120px, adaptatif = 20% écran, max = 200px */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-form {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-label {
  font-weight: 600;
  margin-right: 0.5rem;
  white-space: nowrap;
  color: #B0BAC5;
  margin: 20px 0px;
}

.top-select {
  padding: 0.4rem 0.6rem;
  background-color: #15202E;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: #B0BAC5;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 5px;
  margin-right: 20px;
}

.top-select:focus {
  outline: none;
  border: none;
  outline: none;
}

.top-button {
  background-color: #3992be;
  color: white;
  border: none;
  padding: 0.6rem 0.8rem;
  margin: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-button:hover {
  background-color: #42ade2;
}

/*NAVIGATION BAR DE SELECTION ENTRE UTILISATEURS ET SERVEURS SUR PAGE TOP*/
.nav-menu-horizontal-short {
  background-color: #15202E;
  list-style: none;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 30px;
  width: max-content;
}

.nav-menu-item-short a {
  display: inline-flex;
  /*background-color: #c206a9;*/
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  text-align: center;
}

.nav-menu-item-short a:hover,
.nav-menu-item-short a:focus {
  background-color: #45b0e6;
  outline: none;
}

.nav-menu-item-short a, 
.nav-menu-item-short a:link, 
.nav-menu-item-short a:visited, 
.nav-menu-item-short a:hover, 
.nav-menu-item-short a:active {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.nav-menu-item-short-selected a{
  background-color: #3992BE;
}

.nav-menu-item-short-selected a:hover{
  background-color: #42ade2;
}

.search-input {
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #1B2636;
    border-radius: 15px;
    outline: none;
    border: 0px solid ;
    box-sizing: border-box; 
}

.search-input:focus {
    border: 0px solid ;
    background-color: #26354d;
}

.stats-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.page-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.simplelink {
    display: inline-block;
    color: #3992be;
    font-weight: bold;
    transition: background 0.3s;
  }

  .simplelink:hover {
    color: #42ade2
  }

  .leftmargin {
    margin-left: 10px;
  }

/* Home stats container*/
.home-stats-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 15px;
}
/* Home stats box*/
.home-stats-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 20px 24px;
  border-radius: 15px;

  background: #15202e;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.home-stats-content {
  display: flex;
  flex-direction: column;
}

.home-stats-label {
  font-size: 13px;
  color: #8fa3b8;
}

.home-stats-value {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.home-stats-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #293e5a;
  color: #00ffaa;
  font-size: 18px;
}

.home-stats-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* GROSSE IMAGE DU HOME CENTRALE */
.home-center-icon {
  width: 96px;
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: center;
  image-rendering: pixelated; /*Nearest en gros*/
  margin: 10px;
}

.home-center-icon img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  display: block;
}

/* Responsive vite fait */
@media (max-width: 768px) {
  .main-container {
    max-width: 95%;  /* prend toute la largeur sur téléphone */
    border-radius: 0;
  }
  .big-pp {
    max-width: 90px;
    max-height: 90px;
  }
  .top-button {
    margin: 0rem;
  }
  .home-stats-container {
    flex-wrap: wrap;
  }

  .home-stats-box {
    flex: 1 1 100%;
  }
}