<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="hourglass icon">
        
        <nav>
            <div class="error-text-title"> 404 - Page introuvable - 404</DIV>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <div class="error-text-big">Mike et CHAT GTP disent qu'il n'y a rien à voir ici !</div>
        <div style="height: 10px;"></div>
        <img src="\static\mike_work_in_progress.jpg" alt="mike traveaux image" class="img-large">
    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
