<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="snout labs icon">
        
        <nav>
            <h1> HOURGLASS / A propos</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('projects') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <h2>INFOS :</h2>
        <p>C'est juste un bot pour obtenir des statS sur le nombre de messages envoyés et le nombre d'heures passées en vocal (fin c'est juste énorme, quoi)</p>
        <p>feur</p>
        <div style="height: 5px;"></div>
        <h2>COMMANDES :</h2>
        <p>!stats [user] - stats de l'utilisateur sur le serveur</p>
        <p>!allstats [user] - stats de l'utilisateurs sur tous les serveur</p>
        <p>!top - top 10 des utilisateurs en fonction du temps passé sur le serveur</p>
        <p>!alltop - top 10 des utilisateurs en fonction du temps passé sur tous les serveurs</p>
        <p>!server - stats du serveur</p>
        <div style="height: 5px;"></div>
        <h2>SVP :</h2>
        <p>Il faut faire de la propagande pour ce bot! J'ai besoin de stats PLEEEEAASSEEE la team héhé</p>
        <p>INVITEZ-LE PARTOUT !!!!</p>
        <div style="height: 5px;"></div>
        <h2>Liens :</h2>
        <p>* <a class ="mid" href="https://discord.com/oauth2/authorize?client_id=1210665993328926750">Lien d'invitation du bot</a></p>
        <p>* <a class ="mid" href="https://github.com/Bugpig03/DiscordHourglassBot">Github depot</a></p>
        <p>* <a class ="mid" href="https://www.youtube.com/watch?v=0xWtp0I5lhw">Sound bot "Zhonya Hourglass"</a></p>
        <p>* <a class ="mid" href="https://www.youtube.com/watch?v=8P5WCI0iQlo">Autres</a></p>
        <div style="height: 500px;"></div>
        <p>Site web inutile déso... après stylé la stats global en V de V</p>

    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
