<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="hourglass icon">
        
        <nav>
            <h1> HOURGLASS / Serveurs</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('bot') }}">Bot</a></li>
                <li><a class ="mid" href="{{ url_for('server') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 120px;"></div>
        <h2>Statistiques global du bot :</h2>
        <div style="height: 0px;"></div>
        <p>Nombre d'utilisateurs : {{ total_users }}</p>
        <p>Nombre de profils : {{ total_profile }}</p>
        <p>Nombre de serveurs : {{ total_servers }}</p>
        <p>Nombre de messages envoyés : {{ total_messages }}</p>
        <p>Nombre d'heures passées : {{ total_seconds }}</p>
        <div style="height: 10px;"></div>
        <h2>Statistiques de la base de données :</h2>
        <div style="height: 0px;"></div>
        <p>Taille de DB : {{ total_users }} ko</p>
        <p>Nombre de transactions : {{ transaction_count }}</p>

    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
