<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="hourglass icon">
        
        <nav>
            <h1> HOURGLASS / Accueil</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('user') }}">Utilisateurs</a></li>
                <li><a class ="mid" href="{{ url_for('servers') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 120px;"></div>
        <div style="height: 20px;"></div>

        <div class="two-vertical-container">
        
            <div class="vertical-container">
                <div class="h2-left" >Top 5 des 30 derniers jours</div>
                {% for user in TopActivityUsers %}
                    <a href="{{ url_for('profile', username=user['user_name']) }}" class="userbox-link">
                        <div class="activity-box">
                            <div class="rank" >RANG {{ user['rank'] }}</div>
                            <div style="height: 5px;"></div>
                            <div class="username">{{ user['user_name'] }}</div>
                            <div class="time">{{ user['total_seconds'] }} les 30 derniers jours</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            

        <div class="vertical-container">
            <div class="h2-left" >Statistiques générales</div>
            <div class="bot-box">
                <h2>Informations sur HourglassBOT :</h2>
                <p>Nombre d'utilisateurs: {{ total_users }}</p>
                <p>Nombre de profils: {{ total_profile }}</p>
                <p>Nombre de serveurs: {{ total_servers }}</p>
                <p>Nombre de messages envoyés: {{ total_messages }}</p>
                <p>Nombre d'heures passées: {{ total_seconds }}</p>
            </div>

            <div class="bot-box">
                <h2>Informations sur la base de données :</h2>
                <div style="height: 0px;"></div>
                <p>Taille de la base de données: {{ database_size }} ko</p>
                <p>Taille de la table des stats: {{ stats_table_size }} ko</p>
                <p>Taille de la table des historiques stats: {{ historical_stats_table_size }} ko</p>
                <p>Dernière sauvegarde des stats: {{ last_historical }}</p>       
            </div>
        </div>

        </div>

        </div>
    </main>
    

    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass bot 2024 kek</p>
    </footer>
</body>

