<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="hourglass icon">
        
        <nav>
            <h1> HOURGLASS / Accueil</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('bot') }}">Bot</a></li>
                <li><a class ="mid" href="{{ url_for('server') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 120px;"></div>
        <div style="height: 20px;"></div>
        <h2>TOP 30 Global :</h2>
        <div class="top-container">

            {% for rank, user in enumerate(total_top_users, 1) %}
                <a href="{{ url_for('profile', username=user['user_id']) }}" class="userbox-link">
                    <div class="user-box">
                        <div class="rank" >RANG {{ rank }}</div>
                        <div style="height: 5px;"></div>
                        <div class="username">{{ user['user_id'] }}</div>
                        <div class="time">Temps: {{ user['formatted_time'] }}</div>
                    </div>
                </a>         
            {% endfor %}
        </div>
        <div style="height: 20px;"></div>

        </div>
    </main>
    

    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass bot 2024 kek</p>
    </footer>
</body>

