<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="snout labs icon">
        
        <nav>
            <h1> HOURGLASS / Profil</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('bot') }}">Bot</a></li>
                <li><a class ="mid" href="{{ url_for('server') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <div class="h2-mid">Profil de {{ username }}</div>
        <div class="vertical-container">
            {% for server in user_server_stats %}
            <div class="bot-box">
                <div class="server-text" >Statistiques sur: {{ server.server_id }}</div>
                <p>Temps: {{ server.total_seconds }}</p>
                <p>Messages: {{ server.total_messages }}</p>
                <p>Rang : {{ server.rank }}</p>
                <p>profil créé depuis le: {{ server.creation_date }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
