<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="snout labs icon">
        
        <nav>
            <h1> HOURGLASS / Profil</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('bot') }}">Bot</a></li>
                <li><a class ="mid" href="{{ url_for('server') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <h2>Profil de {{ username }}</h2>
        <ul>
            {% for server in server_stats %}
            <li>
                <p><strong>Serveur ID :</strong> {{ server.server_id }}<br>
                <strong>Temps passé en vocal :</strong> {{ server.total_seconds }}<br>
                <strong>Messages envoyés :</strong> {{ server.total_messages }}<br>
                <strong>Membre depuis le :</strong> {{ server.creation_date }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
