<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Hourglass bot</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="snout labs icon">
        
        <nav>
            <h1> HOURGLASS / Serveur</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Accueil</a></li>
                <li><a class ="mid" href="{{ url_for('user') }}">Utilisateurs</a></li>
                <li><a class ="mid" href="{{ url_for('servers') }}">Serveurs</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">A propos</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <h2>Serveur {{ server_name }}</h2>
            <div class="vertical-container">
                <div class="global-server-box ">
                    <div class="server-text" >Statistiques générale du serveur</div>
                    <p>Serveur ID: {{ server_id }} </p>
                    <p>Temps: {{ server_time }} </p>
                    <p>Messages: {{ server_msg }} </p>
                    <p>Nombere de membres: {{ server_member_count }}</p>
                    <p>Rang du serveur: {{ server_rank }}/{{ server_count}} </p>
                </div>
            </div>

        <div style="height: 30px;"></div>
        <h2>Classement des membres du serveur</h2>
        {% for user in server_users_stats %}
        <div style="height: 15px;"></div>
        <div class="user-box">
            <div class="rank">RANG {{ user.rank }}</div>
            <div class="username">{{ user.user_name }}</div>
            <div class="time">Temps: {{ user.total_seconds }}</div>
            <div class="time">Messages: {{ user.total_messages }}</div>
        </div>
        {% endfor %}

    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Hourglass 2024 | kek</p>
    </footer>
</body>
